/* Định dạng cho tiêu đề (h1) với class .box1 */
.box1 {
    color: green;           /* Màu chữ */
    font-size: 28px;        /* Kích thước chữ */

}

/* Định dạng cho span với class .box2 */
.box2 {
    color: blue;            /* Màu chữ */
    font-size: 22px;        /* Kích thước chữ */
    display: block;         /* Đặt span thành block để dễ định dạng */
    margin-bottom: 15px;    /* Khoảng cách dưới */
}
.box3 {
    text-align: center;
}
.box4 {
    background-color: rgb(209, 158, 158);
    color: rgb(214, 24, 24);
    font-size: 35px;
}
.text {
    background-color: yellow;
}
.text1 {
    color:blue;
}
.text2 {
    color: red;
}
.text3 {
    color: green;
}